:root {
	--absolute-white: #fff;
	--absolute-black: #000;
	--purple-60: #703bf7;
	--purple-65: #8254f8;
	--purple-70: #946cf9;
	--purple-75: #a685fa;
	--purple-90: #dbcefd;
	--purple-95: #ede7fe;
	--purple-97: #f4f0fe;
	--purple-99: #fbfaff;
	--white-90: #e4e4e7;
	--white-95: #f1f1f3;
	--white-97: #f7f7f8;
	--white-99: #fcfcfd;
	--grey-08: #141414;
	--grey-10: #1a1a1a;
	--grey-15: #262626;
	--grey-20: #333;
	--grey-30: #4d4d4d;
	--grey-40: #666;
	--grey-50: #808080;
	--grey-60: #999;
}


@import '_hamburger.scss';
@font-face {
  font-family: 'Urbanist Regular';
  src: local('Urbanist Regular'), local('Urbanist-Regular'), url('../fonts/Urbanist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Urbanist Medium';
  src: local('Urbanist Medium'), local('Urbanist-Medium'), url('../fonts/Urbanist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Urbanist Bold';
  src: local('Urbanist Bold'), local('Urbanist-Bold'), url('../fonts/Urbanist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Urbanist Semibold';
  src: local('Urbanist Semibold'), local('Urbanist-Semibold'), url('../fonts/Urbanist-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Medium';
  src: local('Inter Medium'), local('Inter-Medium'), url('../fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}


$blue: #55B7FF;
$black: #000000;
$blue-gray: #2C4058;
$violet: #7E5AFF;
$wite: #FFFFFF;
$blue-gradient: #24CCFA;
$cyant-gradient: #3C7FD4;
$form-text: #4B5562;
$dark-blue: #262A3F;
$gray-color:#E4E4E4;


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: $black;
  cursor: pointer;
  text-decoration: none;
}

ul,
ol {
  list-style: none;

}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  width: min(90%, 1596px);
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: var(--absolute-black);
  color: var(--absolute-white);
}

.page-wrapper {
  min-height: 100vh;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-orient: vertical;
  // -webkit-box-direction: normal;
  // -ms-flex-direction: column;
  // flex-direction: column;
  // -webkit-box-pack: justify;
  // -ms-flex-pack: justify;
  // justify-content: space-between;
  // position: relative;
}

// header
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  min-height: 50px; 
  background-color: var(--grey-10);
  .nav-container {
    position: relative;
    .container {
      display: flex;
      align-items: center; /* Додано для вирівнювання елементів по центру */
      justify-content: space-between;
      height: 100%; /* Новий рядок для встановлення висоти контейнера */
      .theme {
        position: absolute;
        left: 380px;
        top: calc(50% - 10px);
      }
      .logo {
        height: 100%; /* Новий рядок для встановлення висоти логотипу */
        img {
          width: 160px;
          height: auto; /* Змінено на auto для збереження пропорцій */
          margin-top: auto; /* Змінено на auto для вирівнювання по нижньому краю */
          margin-left: 3px;
        }
      }
      nav {
        ul {
          height: 100%; /* Новий рядок для встановлення висоти меню */
          display: flex;
          align-items: center; /* Додано для вирівнювання елементів по центру */
          li {
            display: inline-block;
            padding-right: 30px;
            padding-top: 28px;
            padding-bottom: 28px;
            transition: all 0.3s ease;
            a {
              font-family: 'Urbanist Medium';
              font-weight: 500;
              font-size: 18px;
              line-height: 150%;
              color: var(--absolute-white);
              position: relative;
              display: block;
              &:hover::after {
                display: block;
                content: '';
                width: 100%;
                height: 3px;
                opacity: 0.3;
                position: absolute;
              }
              :focus {
                border: 2px solid;
              }
            }
          }
        }
      }
      .contacts a {
        color: var(--absolute-white);
        font-size: 18px;
        font-family: 'Urbanist Medium';
        line-height: 27px;
        letter-spacing: 0;
        padding-top: 28px;
        padding-bottom: 28px; 
      }
    }
  }
}

header.scrolled {
  padding-top: 0;
  padding-bottom: 15px;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(36, 204, 250, 0.5)), to(rgba(109, 11, 167, 0.5)));
  background: -o-linear-gradient(bottom left, rgba(36, 204, 250, 0.5), rgba(109, 11, 167, 0.5));
  background: linear-gradient(to top right, rgba(36, 204, 250, 0.5), rgba(109, 11, 167, 0.5));

}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

// hero-section
.first-screen{
  margin-top: 100px;
  display: flex;
  .left-block{
    width: 50%;
    padding-top: 200px;
    background-color: --grey-15;
    h1{
      margin-top: 0;
      text-align: left;
      margin-bottom: 0;
      font-size: 60px;
      font-style: normal;
      font-family: "Urbanist",sans-serif;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: 0;
      text-transform: none;
    }
    .sub-title{
      margin-top: 0;
      text-align: left;
      margin-bottom: 0;
      width: 100%;
      max-width: 100%;
      min-height: auto;
      color: #999;
      font-size: 18px;
      font-style: normal;
      font-family: "Urbanist",sans-serif;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0;
      text-transform: none;
    }

    .btn_first_screen {
      display: flex;
      gap: 20px;
      left: 0px;
      .btn-learnmore{
          gap: 8px;
          width: 200px;
          display: flex;
          padding: 18px 24px;
          position: relative;
          border: 1px solid #262626;
          box-sizing: border-box;
          align-items: center;
          border-radius: 10px;
          justify-content: center;
          margin-top: 0;
          text-align: left;
          margin-bottom: 0;
          color: #fff;
          font-size: 18px;
          font-family: "Urbanist",sans-serif;
          font-weight: 500;
          line-height: 27px;
          letter-spacing: 0;
          text-transform: none;
        }
        .btn-browse-properties{
            gap: 8px;
            display: flex;
            padding: 18px 24px;
            position: relative;
            width: 200px;
            box-sizing: border-box;
            align-items: center;
            border-radius: 10px;
            justify-content: center;
            background-color: #703bf7;
            margin-top: 0;
            text-align: left;
            margin-bottom: 0;
            min-height: auto;
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-family: "Urbanist",sans-serif;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0;
            text-transform: none;
          }
        }
        .num-bl{
          gap: 2px;
          width: 100%;
          display: flex;
          padding: 16px 24px;
          position: relative;
          max-width: 239px;
          border: 1px solid #262626;
          box-sizing: border-box;
          align-items: flex-start;
          border-radius: 12px ;
          flex-direction: column;
          justify-content: flex-start;
          background-color: #1a1a1a;
          margin-top: 0;
          min-height: auto;
          text-align: left;
          margin-bottom: 0;
        .num {
          color: #fff;
          font-size: 40px;
          font-style: normal;
          margin-top: 0;
          text-align: left;
          font-family: "Urbanist",sans-serif;
          font-weight: 700;
          line-height: 60px;
          margin-bottom: 0;
          letter-spacing: 0;
          text-transform: none;
        }          
        .num-title {
          color: #999;
          font-size: 18px;
          font-style: normal;
          margin-top: 0;
          text-align: left;
          font-family: "Urbanist",sans-serif;
          font-weight: 500;
          line-height: 27px;
          margin-bottom: 0;
          letter-spacing: 0;
          text-transform: none;
        }
      }

      }
    }
    
  
  .right-block{
    width: 45%;
 
    img{
    width: 720px;
    height: 814px;
    }
  }

//properties
#properties {
  #slider1 ul {
    
    li{
    display: inline-block;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
     img{
    width: 22px;
    height: 17px;
  }
}
  }
}




//reviews
// #reviews {
  
// }


//questions
// #questions {
 
// }


//footer
// footer {
//   background-image: url(../images/footer.png);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   width: 100%;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//       -ms-flex-pack: center;
//           justify-content: center;
//   padding-top: 195px;
//   height: 549px;

//   #contact {
//     background-color: $wite;
//     width: 770px;
//     position: absolute;
//     bottom: 410px;
//     left: 446px;
//     z-index: 300;
//     height: 450px;

//     h2 {
//       text-transform: uppercase;
//       margin-bottom: 20px;
//       margin-top: 87px;

//       &::before {
//         content: '';
//         background-color: $black;
//         width: 100px;
//         height: 2px;
//         position: absolute;
//         top: 60px;
//         left: 50%;
//         -webkit-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//                 transform: translateX(-50%);
//         z-index: 130;
//       }

//     }

//     .contact-block {
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//       -webkit-box-align: center;
//           -ms-flex-align: center;
//               align-items: center;

//       .lb-contact {
//         margin-right: 55px;
//         padding-left: 38px;
//       }

//       .contacts li {
//         display: block;
//         padding-left: 16px;
//         font-family: 'Montserrat Regular';
//         font-size: 1.125rem;
//         margin-bottom: 10px;

//         a {
//           color: $black;

//           &:hover {
//             border-bottom: 1px solid $violet;
//             -webkit-transition: all 0.3s ease;
//             -o-transition: all 0.3s ease;
//             transition: all 0.3s ease;
//           }
//         }

//         img {
//           width: 16px;
//           height: 16px;
//           -ms-flex-item-align: start;
//               align-self: flex-start;
//           margin-right: 5px;
//         }
//       }
//     }
//   }
// }

// form {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//       -ms-flex-direction: column;
//           flex-direction: column;

//   input {
//     font-family: 'Montserrat Regular';
//     font-size: 1.125rem;
//     color: $form-text;
//     border: none;
//     border-bottom: 1px solid $form-text;
//     padding-bottom: 14px;
//     width: 310px;
//     margin-bottom: 33px;

//     &:focus {
//       outline: none;
//       border: none;
//       color: $blue-gray;
//       border-bottom: 1px solid $blue-gray;

//     }
//   }

//   .btn-primary {
//     width: 140px;
//     height: 50px;
//     color: $black;
//     text-transform: uppercase;
//     font-family: 'Montserrat Regular';
//     font-size: 1.125rem;
//     margin-left: 170px;

//     &:hover {
//       border: 1px solid $violet;
//       -webkit-transition: all .3s ease;
//       -o-transition: all .3s ease;
//       transition: all .3s ease;
//       color: $violet;
//     }
//   }
// }

// .is-invalid {
//   border: 2px solid red;
// }

// .footer-block {
//   width: 770px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: justify;
//       -ms-flex-pack: justify;
//           justify-content: space-between;
// }

// .logo-footer {
//   width: 241px;
//   height: 54px;

//   .copi {
//     margin-top: 41px;
//     color: $wite;
//     font-family: 'Montserrat Regular';
//     font-size: 14px;

//   }
// }

// .social-link ul {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: horizontal;
//   -webkit-box-direction: normal;
//       -ms-flex-direction: row;
//           flex-direction: row;
//   -webkit-box-pack: justify;
//       -ms-flex-pack: justify;
//           justify-content: space-between;
//   gap: 20px;

//   li {
//     padding-top: 8px;

//     &:hover {
//       -webkit-transform: scale(1.2);
//           -ms-transform: scale(1.2);
//               transform: scale(1.2);
//     }
//   }
// }

// hamburger-menu
.page-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#0000, .7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.menu-panel {
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background-color: $wite;
  z-index: 1001;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  .panel-top {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: $blue;

    .hamburger-wrap {
      margin-left: 60px;
    }
  }

  nav {
    overflow: hidden;
    height: calc(100vh - 100px);
  }
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  a {
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
    margin: 30px;
    color: $black;
    text-decoration: none;
    font-family: 'Montserrat Regular';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.07rem;
  }
}

.open-mobile-menu {
  .page-overlay {
    opacity: 10;
    visibility: visible;
  }

  .menu-panel {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.hamburger-wrap {
  display: none;
}

// rwd

@media screen and (max-width: 1580px) {

}

@media screen and (max-width: 1400px) {
  
}

@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 1020px) {
 
}

@media screen and (max-width: 905px) {
 
}

@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 751px) {
  

}

@media screen and (max-width: 690px) {
  
}

@media screen and (max-width: 601px) {
  
}