/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import '_hamburger.scss';

$dark-blue: #262A3F;
$black: #000;
$text-green: #85BBB1;
$text-read: #F1897B;
$text-read-dark: #E54F3A;
$wite: #FFF;
$gray-color:#E4E4E4;
$light-blue: #586291;
$dark-bg: #161926;
$text-blue: #689FF2;
$green-neon: #53F3CD;
$green-neon-hover: #02E0AB;
$gray-dark: #515773;


@font-face {
  font-family: 'Playfair Display Regular';
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Lato Light';
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato/latolight.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
*, *::before, *::after{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a,
button {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

ul,
ol {
  list-style: none;

}
img{
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container{
  width: min(90%, 1170px);
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $wite;
  background: url(../img/first-screen-image-min.png) no-repeat;
  background-size: contain;
  position: relative;
}
.page-wrapper{
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 29px;
}
// header
header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
  min-height: 50px; 
  .nav-container {
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.50)), color-stop(24.1%, rgba(255, 255, 255, 0.24)), color-stop(47.19%, rgba(255, 255, 255, 0.00))), rgba(255, 255, 255, 0.02);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0.00) 47.19%), rgba(255, 255, 255, 0.02);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0.00) 47.19%), rgba(255, 255, 255, 0.02);
    -webkit-backdrop-filter: blur(4.5px);
            backdrop-filter: blur(4.5px);
    position: relative;
    .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      .theme{
      position: absolute;
      left: 380px;
      top: calc(50% - 10px);
      }
      .logo{
      margin-top: -3px;
      margin-left: 3px;
        width: 107.2px;
        height: 32px;
        position: relative;
        top: 28px;
      }
      nav ul li {
        display: inline-block;
        padding-right: 30px;
        vertical-align: middle;
        padding-top: 28px;
        padding-bottom: 28px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        a {
          text-decoration: none;
          color: $dark-blue;
          font-family: 'Lato Regular';
          font-size: 0.875rem;
          line-height: 1.5rem;
          letter-spacing: 0.07rem;
          -ms-flex-line-pack: center;
              align-content: center;
          position: relative;
          display: block;
          &:hover::after {
            display: block;
            content: '';
            width: 100%;
            height: 3px;
            opacity: 0.3;
            background: $text-read;
            position: absolute;
          }
          :focus{
            border: 2px solid $text-read-dark;
          }
        }
      }
    }
  }
}
main{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
// hero-section
.hero-section{
  width: min(50%, 523px);
  padding-top: 260px;
  margin-bottom: 150px;
  margin-left: 3px;
  .sub-title{
    color: $dark-blue;
    font-family: 'Lato Light';
    font-size: 1.125rem;
    line-height: 1.625rem; 
    margin-bottom: 50px;
    padding-right: 50px;
  }
}
h1{
  color: $dark-blue;
  font-family: 'Playfair Display Regular';
  font-size: 2.75rem;
  line-height: 3.25rem; 
  margin-bottom: 20px;
  .green-text{
    color: $text-green;
    font-family: 'Playfair Display Italic';
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
}
.join-now{
  color: $text-read;
  font-family: 'Lato Bold';
  font-size: 1.25rem;
  line-height: 1.25rem; 
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
  &::after{
    width: 100%;
    position: absolute;
    height: 13px;
    display: block;
    content: '';
    opacity: 0.3;
    background: $text-read;
    left: 10px;
    top: 11px;
  }
  &:hover{
    color: $text-read-dark;
    &::after{
      opacity: 0.3;
      background: $text-read-dark;
    }
  }
  
}
// sales-section
.sales-section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 103px;
  padding-bottom: 45px;
  position: relative;
  .sales-img{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.64%, rgba(33, 36, 54, 0.50)), color-stop(94.04%, rgba(33, 36, 54, 0.00))), lightgray 0px -54.849px / 100% 113.817% no-repeat;
    background: -o-linear-gradient(bottom, rgba(33, 36, 54, 0.50) 0.64%, rgba(33, 36, 54, 0.00) 94.04%), lightgray 0px -54.849px / 100% 113.817% no-repeat;
    background: linear-gradient(0deg, rgba(33, 36, 54, 0.50) 0.64%, rgba(33, 36, 54, 0.00) 94.04%), lightgray 0px -54.849px / 100% 113.817% no-repeat;
    width: min(50%, 570px);
    margin-left: 1px;
    z-index: 0;
    height: 670px;
  }
  .sales-block{
    background: rgba(255, 255, 255, 0.904);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 7px;
    z-index: 1;
    gap: 40px;
    width: min(65%, 770px);
    margin-top: 45px;
    padding-left: 31px;
    padding-top: 45px;
    margin-bottom: 45px;
    .left-block{
      width: min(45%, 300px);
    }
    .left-block .block-item{
      color: $dark-blue;
      text-align: center;
      font-family: 'Playfair Display Regular';
      font-size: 4.25rem;
      line-height: 4.5rem; 
      margin-bottom: 9px;
      }
      .dollar{
        color: $gray-color;
        text-align: center;
        font-family: 'Playfair Display Regular';
        font-size: 2.5rem;
        line-height: 3.125rem; 
      }
    }
    .left-block {
      .block-subtitle{
        color: $dark-blue;
        font-family: 'Lato Light';
        font-size: 1.125rem;
        line-height: 1.625rem;
        text-align: center;
        margin-bottom: 80px;
        margin-left: 8px;
        opacity: 0.8;
      }
    }    
    .right-block{
      width: min(54%, 500px);
      .text{
        font-size: 1.125rem;
        color: $dark-blue;
        font-family: 'Lato Light';
        line-height: 1.625rem;  
        opacity: 0.8;
        margin-bottom: 29px;
      }
    }
  }
  .sales-block .left-block .ml10{
    margin-left: 10px;
  }
.sales-block .left-block .last{
    padding-bottom: 45px;
    margin-left: 8px;
    margin-top: 12px;
    color: $dark-blue;
    font-family: 'Lato Light';
    font-size: 1.125rem;
    line-height: 1.625rem;
    text-align: center;
    opacity: 0.8;
  }
  
.sales-block .right-block .api{
    margin-bottom: 50px;
    font-size: 1.125rem;
    color: $dark-blue;
    font-family: 'Lato Light';
    line-height: 1.625rem;  
    opacity: 0.8;
    margin-bottom: 50px;
  }
.left-block .middle{
  margin-left: 7px;
  .dollar{
    margin-right: 10px;
  }
  &::before{
  width: 100px;
  height: 1px;
  display: inline-block;
  content: '';
  top: 383px;
  left: 135px;
  position: absolute;
  z-index: 20;
  background-color: $text-green;
  }
  &::after{
    width: 100px;
    height: 1px;
    display: inline-block;
    content: '';
    top: 193px;
    left: 135px;
    position: absolute;
    z-index: 20;
    background-color: $text-green;
    }
}
.left-block .center{
margin-top: 12px;
}
.sales-button{
  @extend .join-now;
  }


// solution block
.solution-block{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
  .solution{
    padding-top: 22px;
    padding-right: 30px; 
    padding-left: 36px;
    padding-bottom: 131px;
    width: min(60%, 570px);
    border-top: 1px solid $gray-color;
    .pt10{

      line-height: 3rem;
    }
  }
  .border{
    margin-bottom: -20px;
  }
}
.solution-subtitle{
  color: $dark-blue;
  font-family: 'Lato Light';
  font-size: 1.125rem;
  line-height: 1.6rem;
  opacity: 0.8;
}
.solution-title{
  @extend h1;
  color: $dark-blue;
  font-size: 2.5rem;
  margin-bottom: 30px;
  line-height: 3rem;
  padding-right: 18px;
}

.green{
color: $text-green;
font-family: 'Playfair Display Italic';
font-size: 2.5rem;
line-height: 3rem;
}
// quote-block

.quote-block {
  background: url(../img/quote-background-min.png) left top no-repeat;
  background-size: cover;
  padding-left: 160px;
  display: block;
  padding-right: 300px;
  padding-top: 100px;
  margin-bottom: 120px;
  margin-left: 1px;
  position: relative;
  .quote-text {
    color: $wite;
    font-family: 'Lato Regular';
    font-size: 2rem;
    line-height: 2.875rem; 
    letter-spacing: 0.08rem;
    padding-bottom: 42px;
    position: relative;
    display: block;
    &::before {
      content: url('../img/quote-icon.svg');
      display: inline-block;
      width: 102px;
      height: 84px;
      margin-right: 10px;
      vertical-align: middle;
      position: absolute;
      top: -35px;
      left: -65px;
      z-index: 1110;
    }
    
  }
}

.quote-subtitle{
  color: $wite;
  font-family: 'Playfair Display Italic';
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
  padding-bottom: 100px;
}

// video-block
.video-block{
  padding-left: 100px;
  margin-bottom: 120px;
}
.video{
  border: 1px solid $gray-color;
  padding: 31px 70px 31px 30px;
  border-radius: 32px;
  width: min(90%, 970px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  &::before{
    position: absolute;
    display: block;
    content: '';
    z-index: 100;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid $gray-color;
    background-color: $wite;
    top: 50%;
    left: 8px;
  }
  &::after{
    position: absolute;
    display: block;
    content: '';
    z-index: 100;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $gray-color;
    background-color: $wite;
    top: 50%;
    right: 14px;
  }
}
.video-container {
  position: relative;
  height: 539px;
  &::before {
    position: absolute;
    display: block;
    content: '';
    z-index: 111;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $light-blue;
    opacity: 0.3;
    top: calc(50% - 63px);
    left: calc(50% - 75px);
    cursor: pointer;
  }
  &::after {
    position: absolute;
    display: block;
    content: '';
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    border-top: 35px solid $dark-blue;
    border-radius: 5px;
    z-index: 112;
    top: calc(50% - 20px);
    left: calc(50% - 28px);
    rotate: -90deg;
    cursor: pointer;
  }
}
  .video-title{
    @extend.solution-title; 
    margin-top: 48px;
    padding-left: 2px;
    margin-bottom: 26px;
  }

.video-subtitle{
  @extend.solution-subtitle;
  padding-left: 2px;
  padding-right: 200px;
}
// swap-block
.swaps-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 padding-left: 2px;
 position: relative;
 margin-bottom: 120px;
  .swaps-left-block img{
    width: min(55%, 600px);
    height: 540px;
    z-index: -1;
  }  
  .swaps-right-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.904);
    position: absolute;
    left: 400px;
    z-index: 10;
    gap: 99px;
    width: min(80%, 770px);
    margin-top: 45px;
    padding-top: 75px;
    padding-bottom: 55px;
    padding-left: 71px;
    padding-right: 0;
    .left{
      width: min(45%, 300px);
    }
    .right{
      width: min(45%, 300px);
    }
    .bottom{
      margin-top: -42px;
    }
  } 
}

.swaps-title{
  @extend h1;
font-size: 1.5rem;
line-height: 3rem;
margin-bottom: 8px;
}
.swaps-text{
  @extend .solution-subtitle;
  margin-bottom: 10px;
}

.p20{
  padding-bottom: 20px;
}

  .btn-big{
    @extend.join-now;
    margin-top: -25px;
    padding: 35px 90px;
    border: 1px solid #E4E4E4;
    color: $text-read;
    &::after{
      display: block;
      position: absolute;
      content: '';
      width: 112px;
      top: 45px;
      left: 100px;
      height: 13px;
      opacity: 0.3;
      background: $text-read;
      z-index: 200;
    }
  }


// reviews block
.reviews-block{
  margin-left: 1px;
  margin-bottom: 100px;
}
.reviews-title{
  @extend.solution-title; 
  margin-bottom: 20px;
  .green{
    margin-left: 11px;
  }
}

.reviews-subtitle{
  @extend.solution-subtitle;
  width: min(34%, 400px);
  margin-bottom: 50px;
  margin-left: 1px;
}
.reviews-block ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
gap: 30px;
  li{
    width: 370px;
    height: 340px;
    margin-left: 1px;
  }
}
.autors{
  color: $wite;
  font-family: 'Playfair Display Italic';
  font-size: 1.25rem;
  line-height: 1.25rem; 
  letter-spacing: 0.1rem;
  
}

.reviews-text{
color: #FFF;
font-family: 'Lato Regular';
font-size: 1rem;
line-height: 1.625rem;
}
.reviews-lb{
  background: url(../img/bg-rev1.svg) no-repeat;
  padding: 30px 40px;
  width: 100%;
  height: 100%;
  .reviews-text{
    margin-bottom: 28px;
  }
}
.reviews-cb{
  background: url(../img/bg-rev2.svg) no-repeat;
  padding: 30px 40px;
  width: 100%;
  height: 100%;
  .reviews-text{
    margin-bottom: 53px;
  }
}
.reviews-rb{
  background: url(../img/bg-min.png) no-repeat;
  padding: 30px 40px;
  width: 100%;
  height: 100%;
  .reviews-text{
    margin-bottom: 80px;
  }
}

// contacts-block
.contacts-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 220px;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-bottom: 96px;
  border-top: 1px solid $gray-color;
  border-bottom: 1px solid $gray-color;
}
.contacts-left{
  width: min(40%, 470px);
  .contacts-title{
    @extend.solution-title;
    margin-top: 18px;
    margin-left: 2px;
    margin-bottom: 25px;
    .green{
      margin-left: 10px;
    }
  }
  .contacts-subtitle{
    @extend.solution-subtitle;
    margin-left: 2px;

  }
  
}
.contacts-right{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
width: min(40%, 470px);
-ms-flex-line-pack: center;
    align-content: center;

}
.input-container {
  position: relative;
  margin-bottom: 46px;
  border-bottom: 1px solid $gray-color; 
}
.input {
  width: 100%;
  height: 22px;
  border: none;
  outline: none; 
}
.input:focus {
  border-bottom: 1px solid $dark-blue
}
.input:not(:focus):placeholder-shown {
  color: transparent;
}
.label {
  position: absolute;
  top: 50%;
  left: 1px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: font-size 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: font-size 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  color: $dark-blue;
  font-family: 'Playfair Display Italic';
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: 0.09rem;
  width: 100%;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  font-size: 0.75rem;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  color: $text-green;
}

// footer
footer .container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  .footer-block-center{
    margin-left: -2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
  .footer-block-left{
    color: $dark-blue;
    font-family: 'Lato Light';
    font-size: 0.875rem;
    line-height: 1.625rem; 
    margin-left: 3px;
    
  }
  .footer-block-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 31px;
    a{
      color: $dark-blue;
      font-family: 'Lato Regular';
      font-size: 0.875rem;
      line-height: 1.5rem;  
      letter-spacing: 0.07rem;
      text-decoration: none;
      &:hover{
        color: $text-read;
      }
    }
  
  }
  .footer-block{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
 .submit{
  margin-top: 5px;
 }

// hamburger-menu
.page-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#0000, .7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.menu-panel{
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background-color: $wite;
  z-index: 1001;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  .panel-top{
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: darken( $gray-color, 10%);
    .hamburger-wrap{
      margin-left: -140px;
    }
  }
  nav{
    overflow: hidden;
    height: calc(100vh - 100px);
  }
}
.mobile-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  a{
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
    margin: 30px;
    color: $black;
    text-decoration: none;
    color: $dark-blue;
    font-family: 'Lato Regular';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem; 
    letter-spacing: 0.07rem;
    }
  }
  
.open-mobile-menu{
  .page-overlay{
    opacity: 10;
    visibility: visible;
  }
  .menu-panel{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.hamburger-wrap{
  display: none;
}

// rwd

@media screen and (max-width: 1200px) {
  .solution-block {
    .solution {
      width: calc(50% - 30px);
      margin-right: 0;
      margin-left: 0;
      &:nth-child(odd) {
        margin-right: 10px;
      }
    }
  }
  .swaps-block{
    .swaps-right-block{
      left: 320px;
    } 
  }
  .contacts-block{
    gap: 200px;
  }
}


@media screen and (max-width: 1000px){
  .quote-block{
    padding-left: 110px;
    padding-top: 80px;
    margin-bottom: 100px;
    padding-right: 100px;
    .quote-text {
      padding-bottom: 32px;
  }
  .quote-subtitle{
    padding-bottom: 80px;
  }
}
.contacts-block{
  gap: 180px;
}
}
@media screen and (max-width: 1010px) {
  .hero-section{
    padding-top: 100px;
    width: 100%;
    padding: 40px;
    text-align: center;
    margin-bottom: 15px;
  }
  h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
    .green-text{
      font-size: 1.5rem
    }
  }
  .sales-block .left-block .block-item:nth-child(3),
  .sales-block .left-block .block-item:first-child,
  .sales-block .left-block .block-item:nth-last-child(2) {
    font-size: 3.25rem;
  }

  .left-block .middle::before {
    top: 385px;
    left: 80px;
}
.left-block .middle::after {
  top: 193px;
  left: 80px;
}

  .solution-block{
    margin-bottom: 20px;
    .solution{
      padding-bottom: 30px;
    }
}
.swaps-block{
  .swaps-left-block img{
    width: min(55%, 600px);
    height: 450px;
    z-index: -1;
  }  
  .swaps-right-block{
    left: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 69px;
    width: min(80%, 770px);
    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 21px;
    padding-right: 0;
    position: absolute;
    width: min(100%, 770px);
    left: 100px;
    .left{
      width: min(45%, 300px);
    }
    .right{
      width: min(45%, 300px);
    }
    .bottom{
      margin-top: -42px;
    }
  } 
}

.reviews-block{
  .reviews-title{
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  .reviews-subtitle{
    width: 100%;
    text-align: center;
  }
}

.reviews-block ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.hamburger-wrap{
  display: block;
}
nav ul {
  display: none;
}
.green{
  font-size: 1.5rem;
}
}
@media screen and (max-width: 850px){
  .hero-section{
    width: min(70%, 523px);
    margin-bottom: 20px;
  }
  .sales-block .left-block .block-item:nth-child(3),
  .sales-block .left-block .block-item:first-child,
  .sales-block .left-block .block-item:nth-last-child(2) {
    font-size: 2.25rem;
  }
  .sales-block .left-block .last, .sales-block .right-block .api, .sales-section .left-block .block-subtitle, .sales-section .right-block .text {
  font-size: 1rem;
  }
  .sales-section .sales-block{
    gap: 20px;
    margin-top: 25px;
    padding-left: 21px;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  .left-block .middle::before {
    top: 385px;
    left: 80px;
}
.left-block .middle::after {
  top: 193px;
  left: 80px;
}
.solution-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px;
  gap: 10px;
  .solution {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 22px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    width: min(90%, 800px);
    text-align: center;
}
}
.quote-block{
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 50px;
  margin-bottom: 50px;
  .quote-text{
    font-size: 1.5rem;
  }
}
.video{
  width: 100%;
}
.reviews-block{
  .reviews-title{
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  .reviews-subtitle{
    width: 100%;
    text-align: center;
  }
}
}
@media screen and (max-width: 770px){
  .sales-block .left-block .block-item:nth-child(3),
  .sales-block .left-block .block-item:first-child,
  .sales-block .left-block .block-item:nth-last-child(2) {
    font-size: 2rem;
  }
  .sales-block .left-block .last, .sales-block .right-block .api, .sales-section .left-block .block-subtitle, .sales-section .right-block .text {
  font-size: 1rem;
  }
  .sales-section .sales-block{
    gap: 10px;
    margin-top: 15px;
    padding-left: 11px;
    padding-top: 15px;
    margin-bottom: 15px;
    position: absolute;
    left: 200px;
    z-index: 1;
    width: min(75%, 770px);
  }
  .left-block .middle::before {
    top: 385px;
    left: 80px;
}
.left-block .middle::after {
  top: 193px;
  left: 80px;
}
.video-block{
  padding-left: 0px;
}
.video{
  width: 100%;
  position: relative;
}
  .swaps-block{
    .swaps-left-block img{
      width: min(55%, 600px);
      height: 450px;
    }  
    .swaps-right-block{
      left: 120px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 49px;
      width: min(90%, 770px);
      margin-top: 15px;
      padding-top: 25px;
      padding-bottom: 15px;
      padding-left: 11px;
      padding-right: 0;
      position: absolute;

      left: 100px;
      .left{
        width: min(45%, 300px);
      }
      .right{
        width: min(45%, 300px);
      }
      .bottom{
        margin-top: -25px;
      }
    } 
  }
  .btn-big{
    margin-top: 0px;
    padding: 15px 50px;
    &::after{
      position: absolute;
      top: 32px;
      left: 55px;
    }
  }
  footer .container{
    .footer-block-left{
      font-size: 0.7rem;
    }
    .footer-block-r{
      padding-top: 3px;
      font-size: 0.8rem;
    }
    .footer-block-right{
      gap: 15px;
      a{
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 650px){
  .theme{
    position: absolute;
    left: 180px;
    top: calc(50% - 10px);
  }
  .hero-section{
    margin-bottom: 20px;
  }
  .sales-block .left-block .block-item:nth-child(3),
  .sales-block .left-block .block-item:first-child,
  .sales-block .left-block .block-item:nth-last-child(2) {
    font-size: 1.8rem;
  }
  .sales-block .left-block .last, .sales-block .right-block .api, .sales-section .left-block .block-subtitle, .sales-section .right-block .text {
  font-size: 1rem;
  }
  .sales-section .sales-block{
    gap: 10px;
    margin-top: 15px;
    padding-left: 11px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    position: absolute;
    left: 100px;
    z-index: 1;
    width: min(75%, 770px);
    .left-block .block-item{
      .dollar{
        font-size: 1.5rem;
      }
    }
  }
  .left-block .middle::before {
    top: 385px;
    left: 80px;
}
.left-block .middle::after {
  top: 193px;
  left: 80px;
}
.swaps-block{
  .swaps-left-block img{
    width: min(55%, 600px);
    height: 450px;
    z-index: -1;
  }  
  .swaps-right-block{
    left: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 49px;
    width: min(95%, 870px);
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 11px;
    padding-right: 0;
    position: absolute;

    left: 100px;
    .left{
      width: min(45%, 300px);
    }
    .right{
      width: min(45%, 300px);
    }
    .bottom{
      margin-top: -25px;
    }
  } 
}
.btn-big{
  margin-top: 0px;
  padding: 15px 50px;
  &::after{
    position: absolute;
    top: 32px;
    left: 55px;
  }
}
.hero-section{
  width: 100%;
  padding: 40px;
  text-align: center;
  margin-bottom: 25px;
}
h1{
  font-size: 1.5rem;
  margin-bottom: 10px;
  .green-text{
    font-size: 1.5rem
  }
}
.contacts-block{
  gap: 25px;
}
.contacts-left{
  .contacts-subtitle{
    font-size: 1rem;
  }
}
footer .container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.swaps-block{
  margin-bottom: 20px;
  .swaps-left-block img{
   opacity: 0;
   margin-bottom: 0;
    }  
  .swaps-right-block{
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin-top: 5px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 0;
    position: absolute;
    .left{
      width: min(45%, 300px);
    }
    .right{
      width: min(45%, 300px);
    }
    .bottom{
      margin-top: -25px;
    }
  } 
}
.btn-big{
  margin-top: 0px;
  padding: 15px 50px;
  &::after{
    position: absolute;
    top: 32px;
    left: 55px;
  }
}
.reviews-block{
  .reviews-title{
    padding-right: 0;
  }
  .reviews-subtitle{
    width: 100%;
    text-align: center;
  }
}

}

@media screen and (max-width: 550px){
  header .nav-container .container .theme {
    position: absolute;
    left: 250px;
    top: calc(50% - 10px);
  }
  .hero-section{
    padding-top: 20px;
    margin-bottom: 60px;
    margin-left: 3px;
    .sub-title{
      margin-bottom: 10px;
      padding-right: 20px;
    }
  }
  h1{
    font-size: 1.25rem;
    line-height: 1.25rem; 
    margin-bottom: 40px;
    .green-text{
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }
  .sales-section{
    margin-bottom: 23px;
  }
  .sales-section .sales-block{
    gap: 10px;
    margin-top: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: absolute;
    left: 70px;
    z-index: 1;
    width: min(80%, 800px);
    .left-block .block-item{
      .dollar{
        font-size: 1.5rem;
      }
    }
  }
  .left-block .middle::before {
    top: 385px;
    left: 50px;
}
.left-block .middle::after {
  top: 193px;
  left: 50px;
}
.sales-block .right-block .api {
  margin-bottom: 20px;
}
.green{
  font-size: 1.5rem;
}
.video-block{
  margin-bottom: 40px;
}
.video .video-container {
  height: 70%; 
  &::before {
    position: absolute;
    display: block;
    content: '';
    z-index: 111;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $light-blue;
    opacity: 0.3;
    top: calc(50% - 63px);
    left: calc(50% - 75px);
    cursor: pointer;
  }
  &::after {
    position: absolute;
    display: block;
    content: '';
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    border-top: 25px solid $dark-blue;
    border-radius: 5px;
    z-index: 112;
    top: calc(50% - 20px);
    left: calc(50% - 40px);
    rotate: -90deg;
    cursor: pointer;
  }
}
.video-title{
  margin-top: 38px;
  margin-bottom: 16px;
}

.video-subtitle{
padding-right: 0px;
}
}
@media screen and (max-width: 500px) {
  .swaps-block{
    margin-bottom: 20px;
    .swaps-left-block img{
     opacity: 0;
     margin-bottom: 0;
      }  
    .swaps-right-block{
      left: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      margin-top: 5px;
      padding-top: 15px;
      padding-left: 5px;
      padding-right: 0;
      position: absolute;
      .left{
        width: min(45%, 300px);
      }
      .right{
        width: min(45%, 300px);
      }
      .bottom{
        margin-top: 0px;
      }
    } 
  }
  .btn-big{
    margin-top: 0px;
    padding: 15px 50px;
    &::after{
      position: absolute;
      top: 32px;
      left: 55px;
    }
  }
  .sales-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    margin-bottom: 23px;
    .sales-img{
      width: 100%;
    }
  }
  .sales-section .sales-block{
    gap: 10px;
    margin-top: 10px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    position: relative;
    left: 0px;
    z-index: 1;
    width: 90%;
    .left-block .block-item{
      .dollar{
        font-size: 1.5rem;
      }
    }
  }
  .left-block .middle::before {
    top: 385px;
    left: 50px;
}
.left-block .middle::after {
  top: 193px;
  left: 50px;
}
.sales-block .right-block .text{
  margin-right: -60px;
  margin-bottom: 10px;
  font-size: 1rem;
}
.sales-block .right-block .api {
  margin-right: -60px;
  margin-bottom: 10px;
  font-size: 1rem;
}
.sales-block .right-block .sales-button{
  width: 280px;
}
.contacts-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
  .contacts-right{
    margin-left: -10px;
    width: 100%;
  }
}
.contacts-left{
  width: 100%;
  .contacts-title{
    line-height: 1rem;
    margin-bottom: 20px;
    margin-top: -18px;

  }
}
}
@media screen and (max-width: 400px) {
  header .nav-container .container .theme {
    position: absolute;
    left:150px;
    top: calc(50% - 10px);
  }
  .hero-section {
    margin-bottom: 10px;
    h1{
      margin-bottom: 120px;
    }
    .sub-title{
      margin-bottom: 10px;
    }
  }
  .video-block{
    .video-title{
      text-align:center;
    }
  }
.quote-block{
  .quote-text, .quote-subtitle{
    font-size: 1rem;
  }
}
.reviews-block{
  margin-top: 200px;
  ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-rb, .reviews-lb, .reviews-cb{
    width: 100%;
  }
}
  .swaps-block{
    margin-bottom: 20px;
    .swaps-right-block{
      left: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 10px;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .left{
        width: min(45%, 300px);
      }
      .right{
        width: min(45%, 300px);
      }
      .bottom{
        margin-top: 0px;
      }
    } 
  }
  .btn-big{
    margin-top: 0px;
    padding: 15px 50px;
    &::after{
      position: absolute;
      top: 32px;
      left: 55px;
    }
  }
}





// dark theme
body.dark-theme {
  background-color: $dark-bg;
  opacity: 1;
.page-wrapper{
  background: url(../img/first-screen-dt-min.png) left top no-repeat;
  background-size: contain;
}
  // header
  header {
    color: $wite;
    .nav-container {
      background: -webkit-gradient(linear, right top, left top, from(rgba(22, 25, 38, 0.50)), color-stop(24.1%, rgba(22, 25, 38, 0.00)), color-stop(47.19%, rgba(22, 25, 38, 0.00))), rgba(22, 25, 38, 0.02);
      background: -o-linear-gradient(right, rgba(22, 25, 38, 0.50) 0%, rgba(22, 25, 38, 0.00) 24.1%, rgba(22, 25, 38, 0.00) 47.19%), rgba(22, 25, 38, 0.02);
      background: linear-gradient(270deg, rgba(22, 25, 38, 0.50) 0%, rgba(22, 25, 38, 0.00) 24.1%, rgba(22, 25, 38, 0.00) 47.19%), rgba(22, 25, 38, 0.02);
      -webkit-backdrop-filter: blur(4.5px);
              backdrop-filter: blur(4.5px);
      .container{
        nav ul li{
          a{
            color: $wite;
            &:hover::after {
               opacity: 0.3;
              background: -o-linear-gradient(353deg, #53F3CD 6.73%, rgba(83, 243, 205, 0.00) 116.9%);
              background: linear-gradient(97deg, #53F3CD 6.73%, rgba(83, 243, 205, 0.00) 116.9%);
            }
        }
        }
      }
    }
  }
  // hero-section
  .hero-section{
    .sub-title{
      color: $wite;
      opacity: 0.8;
    }
  }
  h1{
    color: $wite;
    .green-text{
      color: $text-blue;
   }
  }
.join-now{
    color:$green-neon;
    background-color: transparent;
    -webkit-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    transition: all 0.3 ease;
    &::after{
      opacity: 0.3;
      background: $green-neon;
    }
    &:hover{
      color: $green-neon-hover;
      &::after{
        opacity: 0.3;
        background: $green-neon-hover;
      }
    }
  }
  // sales-section
  .sales-section{
    .sales-img{
      opacity: 0.9;
      background: var(--colors-blue-deep, #161926);
    }
    .sales-block{
      opacity: 0.9;
      background: $dark-bg;  
      .left-block .block-item{
        color: $wite;
        }
        .dollar{
          color: $wite;
        }
      }
      .left-block {
        .block-subtitle{
          color: $wite;
          opacity: 0.8;
        }
      }    
      .right-block{
        .text{
          color: $wite;
          opacity: 0.8;
        }
      }
    }
  .sales-block .left-block .last{
     color: $wite;
      opacity: 0.8;
    }
  .sales-block .right-block .api{
    color: $wite;
      opacity: 0.8;
    }
  .left-block .middle{
    &::before{
    background-color: $text-blue;
    }
    &::after{
      background-color: $text-blue;
      }
  }
  // solution block
  .solution-block{
    .border{
      border-bottom: 1px solid $gray-dark;
      border-top: 1px solid $gray-dark;
    }
  }
  .solution-subtitle{
    color: $wite;
    opacity: 0.8;
  }
  .solution-title{
    @extend h1;
    color: $wite;
  }
  .green{
  color: $text-blue;
  }
  // quote-block
  
  .quote-block {
    background: url(../img/quote-background-min.png) left top no-repeat;
    .quote-text {
      color: $wite;
      &::before {
        content: url('../img/quote-icon-dt.svg');
      }
    }
  }
  .quote-subtitle{
    color: $wite;
  }
  // video-block
  .video{
    border: 1px solid $gray-dark;
    &::before{
      background-color: $dark-bg;
    }
    &::after{
      background-color: $dark-bg;
    }
  }
  .video-container {
    &::before {
      background-color: $text-blue;
      opacity: 0.3;
    }
    &::after {
      border-left: 20px solid transparent; 
      border-right: 20px solid transparent;
      border-top: 35px solid $text-blue;
    }
  }
    // swap-block
  .swaps-block{
    .swaps-right-block{
      opacity: 0.9;
      background: var(--colors-blue-deep, #161926);
    } 
  }
      .btn-big{
      @extend.join-now;
      color: $green-neon;
      border: 1px solid #E4E4E4;
      &::after{
        opacity: 0.3;
        background: $green-neon;
        display: block;
      position: absolute;
      content: '';
      width: 112px;
      top: 45px;
      left: 100px;
      height: 13px;
      }
    }  
  // reviews block
  .autors{
    color: $wite;
  }
  .reviews-text{
    color: $wite;
    opacity: 0.8;
  }
  .reviews-lb{
    background: url(../img/bg-rev1.svg) no-repeat;
  }
  .reviews-cb{
    background: url(../img/bg-rev2.svg) no-repeat;
  }
  .reviews-rb{
    background: url(../img/bg.png) no-repeat;
  }
  
  // contacts-block
  .contacts-block{
    border-top: 1px solid $gray-color;
    border-bottom: 1px solid $gray-color;
  }
  .input-container {
    border-bottom: 1px solid $gray-color; 
  }
  .input{
    background-color: $dark-bg;
  }
    
  .input:focus {
    border: none;
  }
  .input:not(:focus):placeholder-shown{
    color: transparent;
  }
  .label {
    color: $wite;
    opacity: 0.5;
  }
  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    color: $text-green;
  }
  // footer
  footer .container{
    .footer-block-left{
      color: $wite;
      opacity: 0.6;
    }
    .footer-block-r{
      color: $wite;
    }
    .footer-block-right{
      a{
        color: $wite;
        &:hover {
          color: $text-green;
        }   
      }
      }
    }
  }
  // hamburger-menu
  .page-overlay{
    background-color: rgba(#0000, .7);
    opacity: 0;
  }
  
  .menu-panel{
    background-color: $wite;
    .panel-top{
      background-color: darken( $gray-color, 10%);
    }
  }
  .mobile-menu{
    a{
      color: $dark-blue;
      }
    }
  .open-mobile-menu{
    .page-overlay{
      opacity: 10;
    }
  }  
