@import '_hamburger.scss';
* {
  padding: 0;
  margin: 0;
}
:root {
  --var-color-text: #544837;
  --var-color-headings: #2F281E;
  --var-orange-buttom: #F90;
  --var-text-buttom: #FFF;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--var-colors-fonts-hover);
}
.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}
a,
button {
  transition: all 1s ease;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
img{
  vertical-align: top;
}
.page-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color:  rgba(#0000, .7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}
.menu-panel{
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background-color: #F90;
  z-index: 1001;
  transform: translateX(-100%);
  transition: all .3s ease;
  .panel-top{
    height: 100px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: darken(#F90, 10%);
    .hamburger-wrap{
      margin-left: -140px;
    }
  }
  nav{
    overflow: hidden;
    height: calc(100vh - 100px);
  }
}
.mobile-menu{
  display: flex;
  flex-direction: column;
  a{
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
    margin: 20px 40px;
    color: --var-color-headings;
    transition: all .3s ease;
    &:hover {
    color: var(--var-text-buttom);
    text-decoration: underline;
    }
  }
  
}
.menu-panel .nav-button{
  padding-left: 40px;
  .button-in{
    margin-left: 0px;
  }
  .button-up{
    background-color: #94928f;
    padding-left: 22px;
    padding-right: 22px;
    &:hover{
      background-color: #fff;
      color: #2F281E;
    }
  }
  .button-in{
    border: 1 px solid --var-color-headings;
    &:hover{
      background-color: #2F281E;
      color: #FFF;
    }
  }
}

header{
  padding-top: 26px;
  padding-bottom: 85px;
  .container{
    display: flex;
    flex-wrap: nowrap;
    .navigation{
      display: flex;
      justify-content: space-between;
      width: 100%;
      nav ul li {
        align-content: center;
      }
    }
  }
}
.logo{
padding-right: 100px;
}
.navigation nav ul {
  list-style: none;
  text-decoration: none;
  font-size: 0;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
nav ul li {
  display: inline-block;
  align-items: center;
}
nav li a {
  color: var(--var-color-fonts);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-right: 20px;
  padding-top: 26px;
}
nav li a:hover {
  color: var(--var-orange-buttom);
}
.navigation .hamburger-wrap{
  display: none;
}
.button-in {
  padding: 13px 25px;
  font-family: 'Poppins', sans-serif;
  width: 111px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  margin-right: 32px;
  color: var(--var-color-headings);
  font-size: 1rem;
  font-weight: 600;
}
.button-up {
  font-family: 'Poppins', sans-serif;
  width: 112px;
  height: 46px;
  padding: 13px 25px;
  border-radius: 4px;
  border: none;
  background: var(--var-orange-buttom);
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
}

.button-in:hover {
  background-color: var(--var-orange-buttom);
}

.button-up:hover {
  background-color: var(--var-color-text);
}

/* first-csreen */
.first-screen {
  display: flex;
  padding-bottom: 99px;
 
}
h1 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3.375rem;
  padding-top: 97px;
  padding-bottom: 33px;
}
.first-screen_text .img {
  gap: 56px;
}
.first-screen p {
  padding-bottom: 27px;
  line-height: 1.75rem;
  font-size: 1.125rem;
  color: var(--var-color-headings);
}
/* 2screen */
#customers {
  padding-bottom: 178px;
}
.container #customers {
  margin-bottom: 178px;
  display: flex;
  display: inline-flex;
  justify-content: center;
}
h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--var-color-headings);
  text-align: center;
}
.customers-title {
  margin-bottom: 31px;
}
.skills {
  padding-bottom: 70px;
}
.get-started {
  width: 180px;
  height: 50px;
  padding: 13px 40px;
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  background-color: var(--var-orange-buttom);
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  border: none;
}
.get-started:hover {
  background-color: var(--var-color-headings);
}
.skills-container{ 
  background: url(../img/bg.png) center no-repeat;
  margin: 0 auto;
  

}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
  gap: 40px;
  text-align: left;
}

.skills li span {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 16px;
}

.first-icon {
  background-color: #7752BE;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19.23px;
}

.two-icon {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background: #FAB005;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19.23px;
}

.tree-icon {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background: #F03E3D;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19.23px;
}
.skills p{
  margin-top: 18px;
  font-size: 1rem;
font-weight: 500;
line-height: 1.625rem;
}
.skills li {
  width: 25%;
}

.four-icon {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: #4DADF7;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19.23px;
}

.button-sig {
  display: flex;
  justify-content: center;
}

.signup-now {
  width: 183px;
  height: 50px;
  padding: 15px 41px;
  justify-content: center;
  vertical-align: middle;
  border-radius: 4px;
  background: var(--Orange, #F90);
  color: #FFFFFF;
  border: none;
  margin-bottom: 70px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 178px;
}
.signup-now:hover{
  background-color: #2F281E;
}
/* 3screen */
.prising {
  display: flex;
  justify-content: space-between;
  gap: 113px;
  padding-bottom: 100px;
  padding-top: 20.5px;
}

.pricing-h2 {
  padding-bottom: 20px;
  text-align: left;
}
.prising h3{
  font-size: 1rem;
font-weight: 700;
line-height: 1.625rem; 
}
.prising span{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}
.item-parsing {
  padding-bottom: 30px;
  font-size: 1rem;
font-weight: 500;
line-height: 1.625rem;
}

.paddig40 {
  padding-bottom: 40px;
  font-size: 1rem;
font-weight: 500;
line-height: 1.625rem;
}

.title-pricing {
  padding-bottom: 10px;
  font-size: 1rem;
font-weight: 500;
line-height: 1.625rem;
}
.item-parsing_last{
  font-size: 1rem;
font-weight: 500;
line-height: 1.625rem;
}
.prising img{
  margin-top: -23px;
}

/* product */
.product-block {
  display: flex;
  padding-bottom: 106px;
  justify-content: space-between;

}
.prodact-list{
display: inline-flex;
justify-content: space-between;
}
.prodact-img{
  margin-top: -20px;
  width: 570px;
height: 520px;
}
.product-text {
padding-top: 30px;
  width: 40%;
  padding-left: 0;
  padding-right: 25px;
}
.product-text span{
  font-size: 1rem;
font-weight: 500;
line-height: 1.625rem;
}
.product-text h2 {
  text-align: left;
  padding-bottom: 20px;
  font-size: 2.25rem;
font-weight: 700;
}

.product-text p {
  padding-right: 65px;
  padding-bottom: 47px;
  font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.625rem; 
}

.prodact-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.prodact-list li {
  /* vertical-align: top; */
  padding-bottom: 13px;
  font-size: 1rem;
font-weight: 500;
line-height: 1.625rem;
}

.prodact-list li img {
  padding-right: 30px;
}
.prodact-list-text{
  width: min(90%, 440px);
}
/* marceters */
.resourses-block {
  display: flex;
  padding-bottom: 172px;
  justify-content: space-between;
  gap: 174px;
  
}
.resourses-block img{
  margin-top: -5px;
}
.resourses-text{
  padding-top: 40px;
}

.resourses-text h2 {
  text-align: left;
  padding-bottom: 16px;
}
.title-marketers{
  font-size: 1rem;
  padding-bottom: 12px;
  font-weight: 700;
  line-height: 1.625rem; 
}

.item-marketers{
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  padding-bottom: 30px;
}

.item-marketers-last{
padding-bottom: 0;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.625rem;
}




/* footer */
.footer-block {
  display: flex;
  padding-bottom: 70px;
  /* justify-content: space-between; */
}
.footer-block img{
  margin-right: 130px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-right: 187px;
}
.footer-links li, .legal-links li {
  margin-bottom: 15px;
}

.footer-links li a,
.legal-links li a {
  
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.625rem;
  color: #544837;
}
.footer-links li a:hover,
.legal-links li a:hover {
text-decoration: underline;
}
.legal-links {
  display: flex;
  flex-direction: column;
  margin-right: 134px;
}

.form {
  width: min(30%, 340px);
}

input {
  margin: 20px 0 24px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  height: 50px;
  padding: 0px 10px;
  width: 100%;
}

.title-footer-links {
  padding-bottom: 30px;
  color: #2F281E;
  font-family: Gotham;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
}

.form-text {
  color: #2F281E;
  font-family: Gotham;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  padding-right: 60px;
}

input[type="text"]::placeholder {
  color: #BCD0E5;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
}
.signup-now-footer{
  width: 181px;
height: 50px;
padding: 13px 40px;
justify-content: center;
align-items: center;
border-radius: 4px;
background: var(--Orange, #F90);
border: none;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 1rem;
font-weight: 700;
color: #FFF;
}

.signup-now-footer:hover{
  background-color: #2F281E
}

@media screen and (max-width: 1366px) {
  .button-in{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1270px) {
  h1{
    font-size: 30px;
  }
  .footer-links li a, .legal-links li a{
    font-size: 0.8rem;
  }
  .navigation .hamburger-wrap{
    display: block;
  }
  .navigation nav{
    display: none;
  }
  .navigation .nav-button{
    display: none;
  }
  .footer-block img{
    margin-right: 50px;
  }
  input{
    width: 95%;
  }
  input[type=text]::placeholder{
    font-size: 1.2rem;
    padding-left: 2px;
    padding-right: 2px;
  }

}

.open-mobile-menu{
  .page-overlay{
    opacity: 10;
    visibility: visible;
  }
  .menu-panel{
    transform: translateX(0);
  }
}

@media screen and (max-width: 1100px) {
  header{
    padding-bottom: 30px;
  }
  .first-screen{
    display: flex;
    flex-direction: column;
  }
  .first-screen_text{
    text-align: center;
    margin-bottom: 50px;
    h1{
      padding-top: 20px;
    }
  } 
  .img {
    display: flex;
    justify-content: center;  
    width: 100%;
  height: 100%;
  }
  .pricing-h2{
    font-size: 1.2rem;
}
.item-parsing, .item-parsing_last{
  padding-bottom: 20px;
  line-height: 0.9rem;
  font-size: 0.9rem;
}
.paddig40{
  padding-bottom: 20px;
  line-height: 0.9rem;
  font-size: 0.9rem;
}
  .prising h3{
    font-size: 0.9rem;
    line-height: 1rem;
}
.product-block{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.product-text{
  padding-right: 5px;
}
.product-text h2{
  font-size: 1.2rem;
}
.product-text p {
  line-height: 0.9rem;
  font-size: 0.9rem;
  padding-right: 5px;
  padding-bottom: 47px;
  padding-bottom: 20px;
}
.resourses-block{
  padding-bottom: 100px;
  gap: 50px;
}
.resourses-text h2{
  font-size: 1.2rem;
}
.footer-block{
display: flex;
justify-content: space-between;
}
.footer-links li a, .item-marketers, .item-marketers-last, .legal-links li a{
  line-height: 0.9rem;
  font-size: 0.9rem;
}
.legal-links {
  margin-right: 50px;
}
.footer-links{
  margin-right: 50px;
}
}

@media screen and (max-width: 1000px) {
  .logo{
    padding-right: 0;
  }
  .prising, .resourses-block {
    flex-direction: column;
  }
  .product-block{
    flex-direction: column-reverse;
  }
.product-text{
  width: 100%;
}
.prodact-img {
  display: flex;
  justify-content: center;  
  width: 100%;
  height: 100%;
}
.resourses-text {
  padding-top: 10px;
  text-align: center;
}
.resourses-text h2, .product-text h2{
  text-align: center;
}
.product-text .product-subtitle{
  text-align: center;
  width: 100%;
}
.button-sig{
  height: 80px;
}
}
@media screen and (max-width: 800px){
  .customers-title{
    font-size: 1.2rem;
  }
  .skills li span{
    font-size: 1.1rem;
  }
  .skills p{
    line-height: 1rem;
  }
  .skills{
    gap: 15px;
    justify-content: space-between;
  }
  input[type="text"]::placeholder {
    font-size: 0.8rem;
  }
  input{
    padding: 2px;
  }
}
@media screen and (max-width: 780px){
  .skills{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .skills li{
    width: 45%;
  }
  .footer-block{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    a{
      width: 30%;
    }
  }
  .title-footer-links, 
  .legal-links {
    margin-right: 0px;

  }
  .footer-links{
    margin-right: 0px;   
  }
  .footer-block img {
    margin-right: 0px;  
}
.footer-block_links{
  width: 30%;
}
.form-text {
  padding-right: 20px;
}
 .title-footer-links {
  padding-bottom: 10px;
 }
 .form {
  margin-top: 0px;
  margin-bottom: 0px;
 }
 input{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
 }
 .footer-links li, .legal-links li {
  margin-bottom: 10px;
}
}

@media screen and (max-width: 700px){
  .footer-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    }
    .footer-block_links{
      width: 80%;
    }
    .legal-links, .title-footer-links{
      font-size: 1.5rem;
    }
    .footer-links, .legal-links{
      font-size: 1.4rem;
    }
  .signup-now-footer{
    width: 100%;
    padding: 8px 20px;
  }
  .footer-block img{
    width: 90%;
  }
  input{
    width: 180px;
  }
}

@media screen and (max-width: 650px){
  .first-screen img, .prodact-img img{
    width: 90%;
    height: 90%;
  }
  .skills{
    gap: 15px;
  }
  .resourses-block{
    padding-bottom: 50px;
  }
  .signup-now-footer{
    width: 100%;
    padding: 8px 20px;
  }
  .form-text {
    padding-right: 0px;
    font-size: 1rem;
    line-height: 1rem;
  }
  .signup-now-footer{
    padding: 5px;
  }
  .footer-block{
    gap: 10px;
    justify-content: space-between;
  }
  .footer-block_links{
    width: 45%;
  }
  .footer-block .form{
    width: 45%;
  }
  input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 650px){
  .first-screen {
    padding-bottom: 30px;
  }
  .skills{
    gap: 10px;
  }
  .skills li{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }  
.prodact-list li{
  padding-bottom: 5px;
}
.prising, .product-block{
  padding-bottom: 30px;
  gap: 50px;
}
}