@import url(template.css);

@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/Roboto-Regular.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url(../fonts/Roboto-Medium.woff2) format(woff2);
  font-display: swap;
}

body{
  font-family: 'Delius Unicase', cursive;
  background-color: #fff; 
}
.hover-container {
position: relative;
overflow: hidden;
border-radius: 20px;
  .icons {
    position: relative;
    .icons-left{
      position: absolute;
      display: block;
      top: -50px;
      left: 20px;
    }
    .icons-right{
      position: absolute;
      display: block;
      top: -50px;
      right: 20px;
    }
  }
  img {
    border-radius: 20px;
    opacity: 0.7;
    transition: all .9s ease;
  }
  &:hover img{
    transform: scale(1.2);
    opacity: 1;
    border-radius: 20px;
  }
  &:hover  .icons .icons-left{
    opacity: 1;
    transform: translateY(80px);
    z-index: 10;
  }
  &:hover .icons .icons-right{
    opacity: 1;
    transform: translateY(80px);
  z-index: 10;
  }
}
// иконки
.icons .icons-left{
position: absolute;
left: 10px;
padding: 10px;
top: 30px;
background: rgba(224, 224, 224, 0.50);
border: none;
border-radius: 8px;
    &:hover{
      background-color: #E0E0E0;
    }
}
.icons .icons-right{
position: absolute;
top: 30px;
right: 20px;
padding: 10px;
background: rgba(224, 224, 224, 0.50);
border: none;
border-radius: 8px;
  &:hover{
    background-color: #E0E0E0;
  }
}

.photo{
position: relative;
overflow: hidden;
border-radius: 20px;
}


// main
main{
  margin: 120px auto;
  
}
.container{
  width: min(90%, 1172px);
  margin: 0 auto;
  .headings {
    color: #000;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0.1125rem;
    padding-bottom: 80px;
  }  
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding-bottom: 110px; 
    
}
}
.name{
  position: absolute;
  left: 20px;
  bottom: 40px;
  color: #FFF;
  font-family: 'Roboto Medium';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }
.date{
  color: #FFF;
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-family: 'Roboto Regular';
  font-size: 1.25rem;
  font-weight: 400;
  }
.colspan {
  grid-column: span 2;
  position: relative;
}
.rowspan {
  grid-row: span 2;
  position: relative;
}
